{% import "layouts/meta.html" as meta %}
{% import "parts/package-item.html" as package_item %}
<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Chum, a Sailfish OS community app repository {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{{ "static/img/sailfishos-chum.svg" | to_public_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "static/style.css" | to_public_url }}">
        {%  block meta %}
            {{ meta.open_graph_site("Chum") }}
        {% endblock meta %}
        {% block header %}
        {% endblock header %}
        <script src="{{ "static/fallback-image.js" | to_public_url }}"></script>
        <script src="{{ "static/user-preferences.js" | to_public_url }}"></script>
    </head>
    <body>
        <header class="section-site-info section-secondary">
            <img src="{{ "static/img/sailfishos-chum.svg" | to_public_url}}" width="84" height="84" alt="Chum icon" />
            <h1>Chum</h1>
            <p>A Sailfish OS app repository by the community</p>
        </header>
        <nav class="section-site-nav section-secondary sidebar-left">
            {% block search %}
                <form is="search-form" action="{{ "search.html" | to_public_url }}" method="GET" class="search-form section-underline" style="padding-bottom: 1em">
                    <div class="search-bar">
                        <input type="search" name="q" placeholder="Search query" />
                        <input type="submit" name="action" value="search" />
                    </div>
                </form>
            {% endblock search %}
            <ul class="section-menu link-list">
                <li><a href="{{ "index.html" | to_public_url }}">Home</a></li>
                <li><a href="{{ "about.html" | to_public_url }}">About</a></li>
                <li><a href="{{ "apps/index-a.html" | to_public_url }}">All apps</a></li>
                <li><a href="{{ "pkgs/index-a.html" | to_public_url }}">All packages</a></li>
                <li><a href="{{ "apps/index-category-accessibility.html" | to_public_url }}">All apps by category</a></li>
                <li><a href="{{ "pkgs/index-category-accessibility.html" | to_public_url }}">All packages by category</a></li>
            </ul>
        </nav>
        <footer class="section-site-footer section-secondary">
            <p>
                Last updated at <time datetime="{{ updated.isoformat() }}">{{ updated | format_datetime("%-d %b %y")}}</time>, for Sailfish OS {{ repo_version }}
            </p>
        </footer>
        <main>
            {% block main %}
            {% endblock main %}
        </main>
        <section class="section-site-sidebar section-secondary">
            {% block sidebar %}
                <header><h2>Recently updated</h2></header>
                <p>
                    <ul class="app-list">
                        {% for pkg in recently_updated_pkgs %}
                            {{ package_item.package_item_small(pkg, "li") }}
                        {% else %}
                            <p>Nothing found</p>
                        {% endfor %}
                    </ul>
                </p>
            {% endblock sidebar %}
        </section>
    </body>
</html>
