{% macro open_graph_site(title, path="/", image="static/img/sailfishos-chum.svg", description=none) -%}
    <!-- OG meta tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="Chum Web, a web site for SailfishOS:Chum" />
    <meta property="og:image" content="{{ image | to_public_url }}" />
    <meta property="og:url" content="{{ path | to_public_url }}" />
    {% if description %}
    <meta property="og:description" content="{{ description }}" />
    {% endif %}
    <!-- end OG meta tags -->
{%- endmacro %}
