/**
 *
 */

:root {
    --color-bg: #ddd;
    --color-bg-main: #ccc;
    --color-fg: #000;
    --color-fg-alt: #fff;
    --color-fg-highlight-primary: #088;
    --color-fg-highlight-secondary: #044;
}

a {
    color: var(--color-fg-highlight-primary);
}

a:hover {
    color: var(--color-fg-highlight-secondary);
}

body {
    background-color: var(--color-bg);;
    font-family: "sans-serif";

    display: grid;
    grid-template-columns: 250px 800px 250px;
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-areas:
            "notice      notice notice"
            "site-info   main   sidebar"
            "site-nav    main   sidebar"
            "site-footer main   sidebar";
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
}

main {
    padding: 1em 2em;
}

.section-site-info, .section-site-nav, .section-site-footer {
    text-align: right;
}

.section-site-info {
    grid-area: site-info;
}

.section-site-nav {
    grid-area: site-nav;
}

.section-site-sidebar {
    grid-area: sidebar;
}

.section-site-footer {
    border-top: 2px dashed var(--color-fg);
    grid-area: site-footer;
}

main {
    background-color: var(--color-bg-main);
    grid-area: main;
    border-left: 2px dashed var(--color-fg-highlight-primary);
    border-right: 2px dashed var(--color-fg-highlight-primary);
}

header > h1, header > p, header > h2, .pkg-header > h2, .pkg-header p {
    margin-top: 0;
    margin-bottom: 0;
}

header, header:not(.section-site-info), .section-underline{
    padding: 0.5em 0;
    border-bottom: 2px dashed var(--color-fg);
    margin-bottom: 0.5em;
}

/*body > header, body > nav, body > section, body > footer*/
.section-secondary {
    margin-left: 1em;
    margin-right: 1em;
}

.link-list {
    list-style: none;
    padding-left: 0;
}

pre {
    overflow-x: auto;
}

/**
 * Package page
 */

.pkg-screenshots {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 400px;
    width: auto;
    white-space: nowrap;
}

.pkg-screenshots > img {
    display: inline-block;
    height: 100%;
}

.pkg-header {
    display: grid;
    grid-template-areas:
        "icon title version"
        "icon summary summary";
    grid-template-columns: 64px 1fr min-content;
    column-gap: 1em;
    align-items: center;
    text-align: start;
}

.pkg-header:not(:first-child) {
    margin-top: 0.25em;
}
.pkg-header:not(:last-child) {
    margin-bottom: 0.25em;
}

.pkg-header .pkg-icon {
    width: 64px;
    height: 64px;
    grid-area: icon;
}
.pkg-header a.pkg-icon {
    width: 64px;
    grid-area: icon;
    display: block;
}

.pkg-header .pkg-version {
    grid-area: version;
}

.pkg-header .pkg-summary {
    grid-area: summary;
}

.pkg-header-mini {
    display: grid;
    grid-template-areas:
        "icon title"
        "icon summary";
    grid-template-columns: 48px 1fr;
    column-gap: 0.5em;
    align-items: center;
}

.pkg-header.pkg-header-mini .pkg-icon {
    width: 48px;
    height: 48px;
}

.pkg-version::before {
    display: block;
    position: absolute;
    top: 0;
    left: -2em;
    border: 1em solid var(--color-bg-main);
    border-right: 1em solid var(--color-fg-highlight-primary);
    width: 0;
    height: 0;
    content: "";
}

.pkg-version {
    position: relative;
    background-color: var(--color-fg-highlight-primary);
    border-left: 1px solid var(--color-fg-highlight-primary);
    color: var(--color-fg-alt);
    font-size: 75%;
    display: inline-block;
    margin-left: 2em;
    padding-right: 0.5em;
    line-height: 2em;
    height: 2em;
    float: right;
}

dl {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0.5em;
}

dl dt {
    font-weight: bold;
}

dl dt:after {
    content: ":";
}

dl dd {
    overflow-x: auto;
    word-break: break-word;
    margin-left: 0;
}

/**
 * App list
 */
.app-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.pkg-letter-links {
    text-align: center;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 2px dashed var(--color-fg);
}

.pkg-letter-links > * {
    font-weight: bold;
    padding: 0.20em;
}

.pkg-letter-links a {
}

.pkg-letter-links .pkg-active-letter {
    text-decoration: underline;
}

/** Search form */
input[type=search] {
    padding: 0.25em;
    border: solid 1px var(--color-fg);
}

input[type=search]:focus {
    border: solid 1px var(--color-fg-highlight-primary);
    outline: solid 3px var(--color-fg-highlight-primary);
}

input[type=submit] {
    background-color: var(--color-fg-highlight-primary);
    border: solid 2px var(--color-fg-highlight-primary);
    border-bottom-color: var(--color-fg-highlight-secondary);
    border-right-color: var(--color-fg-highlight-secondary);
    color: var(--color-fg-alt);
    text-transform: capitalize;
}

input[type=submit]:focus{
    border: solid 2px var(--color-fg-highlight-secondary);
    outline: solid 2px var(--color-fg-highlight-secondary);
}

input[type=submit]:active {
    background-color: var(--color-fg-highlight-secondary);
    border: solid 2px var(--color-fg-highlight-secondary);
}

.search-bar {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.search-bar > input[type=search] {
    flex-grow: 1;
    min-width: 50px;
}

.search-bar > input[type=search]:focus ~ input[type=submit] {
    outline: solid 3px var(--color-fg-highlight-primary);
}

/** Architecture selectors */
body.architecture--aarch64 .pkg-download-aarch64,
body.architecture--armv7hl .pkg-download-armv7hl,
body.architecture--i486 .pkg-download-i486 {
    font-weight: bold;
}

/* Small screen view */
@media (max-device-width: 1300px) {
    body {
        grid-template-columns: 250px minmax(calc(100% - 250px), 800px);
        grid-template-rows: min-content min-content min-content min-content 1fr;
        grid-template-areas:
                "notice notice"
                "site-info main"
                "site-nav main"
                "sidebar main"
                "site-footer main";
    }

    .section-site-sidebar {
        text-align: right;
    }
}

/* Mobile view */
@media (max-device-width: 800px) {
    main {
        padding: 1em;
        border: none;
        border-top: 2px dashed var(--color-fg-highlight-primary);
        border-bottom: 2px dashed var(--color-fg-highlight-primary);
    }

    .section-site-info, .section-site-nav, .section-site-footer {
        text-align: center;
    }

    .section-site-sidebar {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
    }

    body {
        grid-template-columns: 100%;
        grid-template-areas:
                "notice"
                "site-info"
                "site-nav"
                "main"
                "sidebar"
                "site-footer";
    }

    dl {
        grid-template-columns: 1fr;
    }

    .pkg-version {
        display: none;
    }
}

/* Either support touch or it is a small device (since the pointer: coarse does not work on the SFOS browser */
@media (pointer: coarse), (max-device-width: 800px){
    .link-list li a {
        padding: 0.5em 0;
        display: block;
    }
    .link-list li:not(:last-child) a {
        border-bottom: 1px dotted var(--color-fg);
    }

    .pkg-letter-links > * {
        display: inline-block;
        padding: 0.5em;
    }
}
