{% extends "layouts/base.html" %}
{% block title %} About Chum — {{ super() }}{% endblock %}
{% block meta %}
    {{ meta.open_graph_site("About Chum", "/about.html") }}
{% endblock %}

{% block main %}
    <header>
        <h1>Chum Web</h1>
    </header>
    <h2>Chum Web Generator</h2>
    <p>
        This website is built by the Chum Web Generator <a href="{{config.source_code_url}}">(view source repository)</a>.
        To gather necessary information, it will make requests with the User-Agent <code>{{config.user_agent}}</code>.
    </p>
    <h2>SailfishOS:Chum</h2>
    <p>
        The SailfishOS:Chum community repository provides a collection of applications, tools and libraries for the
        mobile operating system <a href="https://sailfishos.org/">Sailfish OS</a>, compiled for
        various hardware architectures and OS release versions.
    </p>
    <h3>Goal</h3>
    <p>
        The ambition is to become the principal software distribution platform for Sailfish OS.
    </p>
    <p>
        In contrast to the software distribution model of the Jolla Store or <a href="https://openrepos.net/">OpenRepos</a>,
        to which binary packages are uploaded by developers, at SailfishOS:Chum software is compiled and packaged into
        RPMs in a reproducible manner directly from its source code. The source code used for compiling and packaging is
        submitted by developers to <abbr title="Open Build Service">OBS</abbr> (Open Build Service), which generates
        multiple RPM files for various combinations of hardware architectures and Sailfish OS release versions.
    </p>
    <p>
        This scheme ensures that the complete source code of all packages at SailfishOS:Chum is available and
        inspectable there, and that all packages are generated solely from this source code. Hence all software
        packages at SailfishOS:Chum are created in a transparent and fully traceable manner.
    </p>
    <p>
        By collecting software for Sailfish OS in a single automated build system, collaboration between developers
        through common packaging of shared libraries etc. is fostered, duplication of work for keeping these common
        packages up-to-date is eliminated, and it becomes much easier to determine which pieces of software exist and
        which are missing at the Sailfish OS OBS. Additionally this eases tracing multiple and potentially layered
        dependencies ("dependency chains") which is crucial for keeping the software supply chains of complex
        packages up-to-date.
    </p>
    <h3>Location</h3>
    <p>
        The SailfishOS:Chum repository proper is located at the
        <a href="https://build.sailfishos.org/project/show/sailfishos:chum">the Sailfish OS OBS</a> and
        <a href="https://github.com/sailfishos-chum/main">its project site is at GitHub</a>.
    </p>
{% endblock main %}
