{% extends "layouts/base.html" %}
{% block title %} About Chum — {{ super() }}{% endblock %}
{% block header %}
    <!-- This page is only really meant for people visiting after seeing the user agent in the access log of their website -->
    <meta name="robots" content="noindex" />
{% endblock header %}

{% block main %}
    <header>
        <h1>Chum Web Generator</h1>
    </header>
    <p>
        This website is built by the Chum Web Generator <a href="{{config.source_code_url}}">(view source repository)</a>.
        To gather necessary information, it will make requests with the User-Agent <code>{{config.user_agent}}</code>.  Some
        URLs it visits are determined by its configuration file `config.py`:
    </p>
    <ul>
        <li><a href="{{config.obs_url}}">{{config.obs_url}}</a></li>
        <li><a href="{{config.repo_url_prefix}}">{{config.repo_url_prefix}}</a></li>
    </ul>
    <p>
        Other URLs will be visited because a package's metadata contains these URLs.  Currently, one cannot block this bot
        using <code>robots.txt</code>.  You may kindly ask a package maintainer to remove a URL to your website from
        their package metadata.  The URLs requested for each package are listed below:
    </p>
    <ul>
        {% for pkg in pkgs %}
            <li>
                <b><a href="{{ pkg.web_url() }}">{{ pkg.name }}</a></b>
                <ul>
                    {% for url in pkg.requested_urls() %}
                        <li><a href="{{ url }}">{{ url }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock main %}
