{% extends "layouts/base.html" %}
{% block title %} Home — {{ super() }}{% endblock %}
{% block meta %} {{ meta.open_graph_site("Home", "/") }} {% endblock meta %}
{% import "parts/package-item.html" as package_item %}

{% block main %}
    <header>
        <h1>Chum Web</h1>
    </header>
    <p>
        The SailfishOS:Chum community repository provides a collection of applications, tools and libraries for the
        mobile operating system <a href="https://sailfishos.org/">Sailfish OS</a>, compiled for
        various hardware architectures and OS release versions.
    </p>

    <section>
        <header><h2>Featured apps</h2></header>
        <ul class="app-list">
            {% for pkg in featured_apps %}
                {{ package_item.package_item(pkg, "li") }}
            {% else %}
                <p>Nothing found</p>
            {% endfor %}
        </ul>
    </section>

{% endblock main %}
