{% extends "layouts/base.html" %}
{% block title %} {{ page_title }} — {{ super() }}{% endblock %}
{% block meta %} {{ meta.open_graph_site(name, "/") }} {% endblock meta %}
{% import "parts/package-item.html" as package_item %}

{% block main %}
<header>
    <h1>{{ page_title }}</h1>
</header>
<div class="pkg-letter-links">
    [
    {%  for index in index_list %}
        {% if id and index.id == id %}
            <span class="pkg-active-letter"> {{ index.display }}</span>
        {% else %}
            <a href="{{ index.file | to_public_url }}">{{ index.display }}</a>
        {% endif %}
    {% endfor %}
    ]
</div>
<ul class="app-list">
    {% for pkg in pkgs %}
        {{ package_item.package_item(pkg, "li") }}
    {% else %}
        <p>No apps found with the given filters</p>
    {% endfor %}
</ul>
{% endblock main %}
