{% extends "layouts/base.html" %}
{% import "parts/package-item.html" as package_item %}
{% import "parts/changelog.html" as changelog %}

{% block title %} {{ pkg.title }} — {{ super() }}{% endblock %}

{% block meta %}
    {{ meta.open_graph_site(pkg.title,  pkg.web_url(), pkg.icon.remote_url | fallback_icon, pkg.summary) }}
{% endblock meta %}

{% macro info_block(cond, title, var=cond) -%}
    {% if cond %}
        <div>
            <dt>{{ title }}</dt>
            <dd>{{ var }}</dd>
        </div>
    {% endif %}
{%- endmacro %}

{% macro pkg_link(link, title, cond=link) -%}
    {% if cond %}
        <li><a href="{{ link | to_public_url }}">{{ title }}</a></li>
    {% endif %}
{%- endmacro %}

{% block main %}
    <section>
        <header class="pkg-header">
            {{ package_item.package_icon(pkg, "pkg-icon") }}
            <h1 class="pkg-title">{{ pkg.title }} </h1>
            <p class="pkg-summary">{{ pkg.summary }}</p>
            <div class="pkg-version" title="Version {{ pkg.version.to_full_str() }}"> v{{ pkg.version.to_short_str() }}</div>
        </header>
        {% if pkg.screenshots %}
            <section class="pkg-screenshots">
                {% for screenshot in pkg.screenshots %}
                    <img src="{{ screenshot.remote_url }}" alt="Screenshot of {{ pkg.name }}" />
                {% endfor %}
            </section>
        {% endif %}
        <p>
            {% if pkg.markdown_url %}
                {{ pkg.description }}
            {% else %}
                {{ pkg.description | paragraphise | safe }}
            {% endif %}
        </p>
        <section>
            <header><h2>Download</h2></header>

                {% if pkg.name not in config.chum_installer_pkgs %}
                    <p>The easiest way to download and install this software is by the <a href="{{ "apps/%s/" | format(chum_installer) | to_public_url }}">SailfishOS:Chum GUI app</a>.
                       If you wish to download the RPM file by yourself, please expand the section below.
                    </p>
                    <details>
                        <summary>Download links</summary>
                {% endif %}
                        <ul class="link-list">
                        {% for arch, url in pkg.download_url | dictsort %}
                            <li><a href="{{ pkg.get_download_url(arch) }}" class="pkg-download-{{ arch }}">{{ pkg.name }}-{{ arch }}.rpm ({{ pkg.download_size[arch] | bytes }})</a></li>
                        {% endfor %}
                        </ul>
            {% if pkg.name not in config.chum_installer_pkgs %}
                    </details>
            {% endif %}
        </section>
        {% if pkg.changelog_entries|length > 0 %}
            <section>
                <header><h2>Changelog</h2></header>
                {{ changelog.changelog(pkg) }}
            </section>

        {% endif %}
        <section>
            <header><h2>App information</h2></header>
            <dl>
                {{ info_block(pkg.name, "Package name") }}
                {{ info_block(pkg.version.to_full_str(), "Version") }}
                {{ info_block(pkg.licence, "Licence") }}
                {{ info_block(pkg.developer_name, "Developer") }}
                {{ info_block(pkg.packager_name, "Packager") }}
                {{ info_block(pkg.updated | format_datetime, "Last updated") }}
            </dl>
        </section>
        <section>
            <header>
                <h2>
                    <label for="pkg-arch-selector">Package information</label>
                    <select id="pkg-arch-selector" data-pref-id="architecture" autocomplete="off">
                    {% for arch in pkg.archs | sort %}
                        <option>{{ arch }}</option>
                    {% endfor %}
                    </select>
                </h2>
            </header>
            <noscript><p>JavaScript is required to display information for other architectures than {{ pkg.archs | first }}</p></noscript>
            {% for arch in pkg.archs %}
                <dl data-relevant-architecture="{{ arch }}" {{ ({"style": "display: none;"} if loop.index0 > 0 else {}) | xmlattr | safe }}>
                    {{ info_block(arch in pkg.download_size, "Download size", pkg.download_size[arch]|bytes) }}
                    {{ info_block(arch in pkg.install_size, "Installed size", pkg.install_size[arch]|bytes) }}
                    {{ info_block(arch in pkg.checksum_value, "Checksum (%s)" % pkg.checksum_type[arch], pkg.checksum_value[arch])}}
                </dl>
            {% endfor %}
        </section>
    </section>

    {% if config.debug %}
        <section>
            <header><h2>Debug</h2></header>
            <h3>YAML MetaData</h3>
            <pre>{{ pkg.debug_yaml }} </pre>
            <h3>Parse errors</h3>
            {% for error in pkg.debug_yaml_errors %}
                <p>
                    <pre>{{ error }}</pre>
                </p>
            {% else %}
                <p>No errors found!</p>
            {% endfor %}
        </section>
    {% endif %}
{% endblock main %}

{% block sidebar %}
    <section>
        <header><h2>Links</h2></header>
        <ul class="link-list">
            {{ pkg_link(pkg.repo_url, "Source code repo") }}
            {{ pkg_link(pkg.packaging_repo_url, "Packaging repo") }}
            {% for title, link in pkg.links.items() %}
                <li><a href="{{link}}">{{ title | title }}</a></li>
            {% else %}
                {% if pkg.url %}
                    <li><a href="{{ pkg.url }}">Project home</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
    {% if pkg.debuginfo_package or pkg.debugsource_package %}
        <section>
            <header><h2>Debug packages</h2></header>
            <ul class="link-list">
                {{ pkg_link( pkg.debuginfo_package.web_url(), "Debug information", pkg.debuginfo_package) }}
                {{ pkg_link( pkg.debugsource_package.web_url(), "Debug source", pkg.debugsource_package) }}
            </ul>
        </section>
    {% endif %}
{% endblock %}
