{% extends "layouts/base.html" %}
{% block title %} {{ name }} — {{ super() }}{% endblock %}
{% import "parts/package-item.html" as package_item %}

{% block main %}
<header>
    <h1>{{ name }}</h1>
</header>
<div class="pkg-letter-links">
    [
    {%  for letter in "abcdefghijklmnopqrstuvwxyz?*" %}
        {% if current_letter and letter == current_letter %}
            <span class="pkg-active-letter"> {{ letter_map[letter].display }}</span>
        {% else %}
            <a href="/{{ current_filter }}/index{{ letter_map[letter].file }}.html">{{ letter_map[letter].display }}</a>
        {% endif %}
    {% endfor %}
    ]
</div>
<ul class="app-list">
    {% for pkg in pkgs %}
        {{ package_item.package_item(pkg, "li") }}
    {% else %}
        <p>Nothing found</p>
    {% endfor %}
</ul>
{% endblock main %}
