{% extends "layouts/base.html" %}
{% import "parts/package-item.html" as package_item %}

{% block header %}
    <script>
        window.publicUrl = "{{ config.public_url }}"
    </script>
    <script src="{{ "static/lunr.min.js" | to_public_url }}"></script>
    <script src="{{ "static/search.js" | to_public_url }}"></script>
{% endblock header %}

{% block search %} {% endblock %}

{% block main %}
    <template id="search-result">
        {{ package_item.package_search_result() }}
    </template>
    <header><h1>Search results</h1></header>
    <form is="search-form" id="main-search-form" action="{{ "search.html" | to_public_url }}" method="GET" class="search-form-filters section-underline">
        <div class="search-bar">
            <input type="search" name="q" placeholder="Search query" />
            <input type="submit" name="action" value="search" />
        </div>
        <details style="padding-top: 0.5em;">
            <summary><strong>Advanced search</strong></summary>
            <ul>
                <li>The search engine matches the search term against the software packages' <code>name</code>, <code>title</code>,
                    <code>summary</code> and <code>description</code> simultaneously.  To restrict a search term to, for example,
                    only the description, prefix it with <code>description:&lt;search_term_here&gt;</code>.
                </li>
                <li>
                    Use asterisks (<code>*</code>) to search for software with keywords starting (<code>key*</code>),
                    ending (<code>*word</code>) or starting and ending (<code>ke*ord</code>) a term.
                </li>
                <li>
                    A term is excluded by prefixing it with a minus: <code>-example</code>
                </li>
                <li>
                    To force a term to be included, prefix it with a plus: <code>+example</code>
                </li>
            </ul>
        </details>
    </form>
    <noscript>JavaScript is required for the search engine to work.</noscript>
    <p id="search-results-no-query">Use the search bar above to enter a query.</p>
    <p id="search-results-empty" style="display: none">No search results found!</p>
    <p id="search-results-busy" style="display: none">Searching…</p>
    <div id="search-results" class="app-list">
    </div>
{% endblock main %}
