name: gen-site
run-name: Building and deploying website
on: 
  push:
    branches:
      - "master"
  schedule:
    - cron: "42 3 * * 1,3,5,6"
  workflow_dispatch: {}
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Generate website
        run: python -m chumweb --public-url "https://sailfishos-chum.github.io/" --repos 4.6_aarch64,4.6_i486,4.6_armv7hl --job-summary $GITHUB_STEP_SUMMARY
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload GitHub pages artifact
        uses: "actions/upload-pages-artifact@v4"
        with:
          path: "out/www/"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: "actions/deploy-pages@v4"

